/*
NANNER PANCAKES PALETTE
Created by Nanner
Source: https://lospec.com/palette-list/nanner-pancakes
*/

:root {
  --PaleRobinEggBlue: #a0ddd3;
  --MoonstoneBlue:    #6fb0b7;
  --Rackley:          #577f9d;
  --PurpleNavy:       #4a5786;
  --AmericanBlue:     #3e3b66;
  --Onyx:             #392945;
  --DarkPurple:       #2d1e2f;
  --OldDarkPuce:      #452e3f;
  --Eggplant:         #5d4550;
  --DeepTaupe:        #7b6268;
  --Cinereous:        #9c807e;
  --Khaki:            #c3a79c;
  --DesertSand:       #dbc9b4;
  --Flesh:            #fcecd1;
  --GrannySmithApple: #aad795;
  --ShinyShamrock:    #64b082;
  --WintergreenDream: #488885;
  --DeepSpaceSparkle: #3f5b74;
  --LightDesertSand:  #ebc8a7;
  --Tumbleweed:       #d3a084;
  --LightTaupe:       #b87e6c;
  --SpicyMix:         #8f5252;
  --OldMauve:         #6a3948;
  --OldRose:          #c57f79;
  --ChinaRose:        #ab597d;
  --DeepRuby:         #7c3d64;
  --DarkPuce:         #4e2b45;
  --TuscanRed: 	      #7a3b4f;
  --EnglishRed:       #a94b54;
  --TerraCotta:       #d8725e;
  --DarkSalmon:       #f09f71;
  --PeachOrange:      #f7cf91;
}
