@import url("./paletteHex.css");

@font-face {
  font-family: uni0553;
  src:         url(./uni0553.woff);
}

:root {
  --padding:      0.5rem;
  --borderRadius: 8px;
  --mainFont:     'uni0553', serif;

  /*~~~Font~~~*/
  font-family: var(--mainFont);
  font-size:   22px;

  /*~~~Size~~~*/
  --maxWidth:  2000px;
  --maxHeight: 2000px;

  /*~~~Colors~~~*/
  --border:      var(--DarkPuce);
  --background:  var(--Flesh);
  --fontColor:   var(--DarkPurple);
  --activeColor: var(--DeepRuby);

  /*~~Selection~~*/
  --selectionBackground: var(--activeColor);
  --selectionColor:      var(--background);

  /*~~~Scroll~~~*/
  --scrollBarSize:       0.3rem;
  --scrollBarBackground: var(--background);
  --thumbBackground:     var(--activeColor);
  --trackBackground:     var(--background);

  /*~~~zIndex~~~*/
  --zIndexLevel5: 100000;
  --zIndexLevel4: 10000;
  --zIndexLevel3: 1000;
  --zIndexLevel2: 100;
  --zIndexLevel1: 10;
  --zIndexLevel0: 0;

  /*~~~ObjectLibrary~~~*/
  --objectIconSize: 3rem;
}

*::selection {
  background: var(--selectionBackground);
  color:      var(--selectionColor);
}

/*~~~Scroll Webkit~~~*/
*::-webkit-scrollbar {
  background-color: var(--scrollBarBackground);
  width:            var(--scrollBarSize);
  height:           var(--scrollBarSize);
}

*::-webkit-scrollbar-thumb {
  border-radius:    var(--borderRadius);
  background-color: var(--thumbBackground);
}

*::-webkit-scrollbar-track {
  background-color: var(--trackBackground);
}

/*~~~Adaptive~~~*/
@media (max-width: 1000px){
  :root {
    font-size: 16px;
  }
}

@media (max-width: 500px){
  :root {
    font-size: 14px;
  }
}
